:root {
    --primary: #2B63C0;
    --success: #0FBE7B;
    --warning: #FFA41D;
    --danger: #FE346E;
    --light: #D9D9D9;
    --text-color: #303030;
    --light-bg: #F8FAFC;
    --side-bg: #0C2556;
    --icon-bg: rgba(24, 144, 255, 0.1);
}